# 排除图片文件
*.jpg
*.png
*.gif
downloaded_images/*

# 排除数据库文件
*.db

# 排除Excel文件
*.xlsx
*.xls
*.db
__pycache__/backend.cpython-312.pyc
__pycache__/backend.cpython-313.pyc
__pycache__/barcode_excel_db.cpython-312.pyc
__pycache__/barcode_excel_excel.cpython-312.pyc
__pycache__/new_translate_excel_openpyxl.cpython-312.pyc
__pycache__/new_translate_excel_openpyxl.cpython-313.pyc
__pycache__/RandomUaStealth.cpython-312.pyc
__pycache__/translate_excel_openpyxl.cpython-313.pyc
__pycache__/translate_excel_openpyxl.cpython-313.pyc
